@use '../../../../../scss/variables/variables.scss' as *;
@use '../../../../../scss/variables/functions.scss' as *;

#nav-in-modal-links {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	.link {
		font-size: 3rem;
		text-wrap: nowrap;
		@include basicTransition;
		&:hover {
			color: $font-color-emphasize-dark;
		}
		&.active {
			color: $font-color-emphasize-dark;
		}
	}
}
