@import '../../../variables.scss';

.footer-links-box-ja {
	display: flex;
	height: 1.5rem;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	gap: 2rem;
	margin-top: 5rem;
	padding-bottom: 3rem;
}

.footer-link-ja {
	font-size: 1rem;
	text-wrap: nowrap;
}

.footer-link-ja:hover,
.footer-link-ja:active {
	color: $font-color-emphasize-dark;
	cursor: pointer;
}
