@use '../../../variables/variables.scss' as *;
@use '../../../variables/functions.scss' as *;

#language-selector-box {
	text-wrap: nowrap;
	font-size: 2rem;
	margin-left: 1rem;

	.language-selector {
		color: $font-color-main-dark;
		background-color: transparent;
		border: none;
		cursor: pointer;
		@include basicTransition;
		&:hover {
			color: $font-color-emphasize-dark;
		}
	}
}
