@use '../../../variables/variables.scss' as *;

#language-selector-box {
	text-wrap: nowrap;
	font-size: 2rem;
	margin-left: 1rem;

	.language-selector {
		text-decoration: none;
		color: $font-color-main-dark;
		cursor: pointer;
	}

	.language-selector:hover,
	.language-selector:active {
		color: $font-color-emphasize-dark;
		cursor: pointer;
	}
}
