@import '../../../../../variables.scss';

.skillsets-box-en {
	width: 25rem;
	margin-bottom: 2rem;
	margin-left: 2rem;
}

.skillsets-texts-box-en {
	margin-left: 2rem;
}

.skillsets-title-en {
	font-size: $font-size-main;
	color: $font-color-emphasize-dark;
	margin-bottom: 1rem;
}

.skillsets-texts-en {
	font-size: $font-size-content;
	color: $font-color-sub2-dark;
	margin-left: 2rem;
}
