@use '../../../variables/variables.scss' as *;

#contact-form-submit-modal {
	@extend .shared-modal-background;

	.contact-form-submit-modal-content-box {
		@extend .shared-modal-box;
	}

	.contact-form-submit-modal-checkicon-box {
		@extend .shared-modal-icon-box;
	}

	.contact-form-submit-modal-checkicon {
		@extend .shared-modal-icon;
	}

	.contact-form-submit-modal-confirm-icon-box {
		@extend .shared-modal-confirm-icon-box;
	}

	.contact-form-submit-modal-confirm-icon {
		@extend .shared-modal-confirm-icon;
	}

	&.dark {
		.contact-form-submit-modal-content-box {
			background-color: $background-color-main-dark;
			border-color: $font-color-emphasize-dark;
		}

		.contact-form-submit-modal-checkicon {
			color: $font-color-main-dark;
		}

		.contact-form-submit-modal-resulttext {
			color: $font-color-main-dark;
		}

		.contact-form-submit-modal-confirm-icon {
			color: $background-color-emphasize-dark;
			background-color: $font-color-main-dark;
			border-color: $background-color-sub1-dark;
		}
	}
}
