@import '../../../variables.scss';

.guestbook-box {
	width: 50rem;
	margin: auto;
}

.guestbook-box-title {
	font-size: $font-size-emphasize;
	color: $font-color-emphasize-dark;
	margin-bottom: calc(1.5rem / 2);
}

.horizontalrule {
	margin-bottom: $menu-contents-gap;
}

.guestbook-inputform-box-description {
	font-size: $font-size-sub;
	font-weight: 900;
	color: $font-color-sub1-dark;
	margin-bottom: calc($submenu-margin/2);
	margin-left: $submenu-margin;
}
