@import '../../../variables.scss';

.header {
	height: 6rem;
	display: flex;
	align-items: center;
	padding-left: 3rem;
	padding-right: 3rem;
	margin-bottom: 5rem;
}

.page-title {
	font-size: 3rem;
	text-wrap: nowrap;
	text-decoration: none;
	flex-grow: 1;
}

.page-title:visited,
.page-title:active {
	text-decoration: none;
	color: $font-color-dark;
}
