.characteristic-text-keyword {
	font-size: 3rem;
	font-weight: 900;
	margin-bottom: 1.5rem;
}
.characteristic-text-title {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 1rem;
}

.characteristic-text-content {
	font-size: 2rem;
	font-weight: 400;
}
