@import '../../../../../variables.scss';

.skillsets-box-ko {
	width: 25rem;
	margin-bottom: 2rem;
	margin-left: $submenu-margin;
}

.skillsets-texts-box-ko {
	margin-left: $submenu-margin;
}

.skillsets-title-ko {
	font-size: $font-size-main;
	color: $font-color-emphasize-dark;
	margin-bottom: $submenu-title-gap;
}

.skillsets-texts-ko {
	font-size: $font-size-content;
	color: $font-color-sub2-dark;
	margin-left: $submenu-margin;
}
