@use '../variables/variables.scss' as *;
@use '../variables/functions.scss' as *;

#main {
	background-color: $background-color-main-dark;
	color: $font-color-main-dark;
	@include basicTransition;
	&.dark {
		background-color: $font-color-sub1-dark;
		color: $background-color-sub1-dark;
	}
}

.font-en {
	font-family: 'Gabarito';
	font-weight: 800;
}

.font-ja {
	font-family: 'M PLUS 1p';
	font-weight: 800;
	letter-spacing: -0.1rem;
}

.font-ko {
	font-family: 'IBM Plex Sans KR';
	font-weight: 900;
}
