@use '../variables/variables.scss' as *;
@use '../variables/functions.scss' as *;

#main {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
	background-color: $background-color-main-light;
	color: $font-color-main-light;
	@include basicTransition;
	@include pc-s {
		padding-top: calc($header-height + $menu-main-gap / 2);
	}
	&.dark {
		background-color: $background-color-main-dark;
		color: $font-color-main-dark;
	}
}

.font-en {
	font-family: 'Gabarito';
	font-weight: 800;
}

.font-ja {
	font-family: 'Noto Sans JP', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	letter-spacing: -0.05rem;
}

.font-ko {
	font-family: 'IBM Plex Sans KR';
	font-weight: 900;
}
