@import '../../../../variables.scss';

.skillsets-box-en {
	margin-bottom: $menu-main-gap;
}

.skillsets-box-title-en {
	font-size: $font-size-emphasize;
	color: $font-color-emphasize-dark;
	padding-left: 1rem;
	margin-bottom: 1.5rem;
}

.skillsets-box-content-en {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: $content-box-padding;
	border: 0.3rem solid white;
	border-radius: 2rem;
}
