@use '../../../scss/variables/variables.scss' as *;

#nav-modal {
	position: fixed;
	width: 100%;
	height: 100%;
	top: $header-height;
	left: -100%;
	background-color: rgba(34, 34, 34, 0.95);
	opacity: 0;
	transition: opacity 0.3s, left 0s 0.3s;
	&.active {
		left: 0;
		opacity: 1;
		transition: opacity 0.3s;
	}
}
