@use '../../variables/variables.scss' as *;

#history {
	margin-top: $menu-main-gap;

	.history-title {
		font-size: $font-size-emphasize;
		margin-bottom: $menu-title-gap;
	}

	.history-boxes-gap-line {
		width: 0.01px;
		height: $menu-contents-gap;
		background-color: $contetn-box-border-color-light;
		border: 0.2rem solid $contetn-box-border-color-light;
		margin: auto;
	}
}
