@use '../../variables/variables.scss' as *;
@use '../../variables/functions.scss' as *;

#history {
	margin-top: $menu-main-gap;

	.history-title {
		font-size: $font-size-emphasize;
		margin-bottom: $menu-title-gap;
		@include pc {
			font-size: $font-size-main;
		}
	}

	.history-boxes-gap-line {
		width: 0.01px;
		height: $menu-contents-gap;
		background-color: $content-box-border-color-light;
		border: 0.2rem solid $content-box-border-color-light;
		margin: auto;
		@include tab {
			border-width: 0.15rem;
		}
	}

	&.dark {
		.history-boxes-gap-line {
			background-color: $font-color-emphasize-dark;
			border: 0.2rem solid $font-color-emphasize-dark;
			@include tab {
				border-width: 0.15rem;
			}
		}
	}
}
