@use '../../../../../scss/variables/variables.scss' as *;
@use '../../../../../scss/variables/functions.scss' as *;

#darkmode-toggle-in-modal {
	display: flex;
	position: relative;
	align-items: center;
	.darkmode-toggle-in-modal-icon {
		width: 1.8rem;
		height: 1.8rem;
		fill: $darkmode-toggle-icon-color-light;
		stroke: $darkmode-toggle-icon-color-light;
		opacity: 0;
		z-index: -1;
		transition: opacity 0.3s;
		cursor: pointer;
		&.moon {
			fill: $darkmode-toggle-icon-color-dark;
			stroke: $darkmode-toggle-icon-color-dark;
		}
		&.active {
			position: absolute;
			top: 50%;
			left: 0;
			opacity: 1;
			z-index: 1;
			transform: translateY(-50%);
		}
	}
}
