@use '../../scss/variables/variables.scss' as *;
@use '../../scss/variables/functions.scss' as *;

#projects-box {
	width: 100%;
	max-width: $content-box-width;
	margin: auto;

	@include pc-s {
		max-width: none;
		padding: 0 1rem;
		margin: 0;
	}

	.skills-filter-title {
		font-size: $font-size-emphasize;
		margin-bottom: calc(#{$menu-title-gap/2});
		@include pc {
			font-size: $font-size-main;
		}
	}

	.projects-skills-filter-title {
		font-size: $font-size-main;
		font-weight: 900;
		margin-bottom: calc(#{$submenu-margin/2});
		margin-left: $submenu-margin;
	}

	.projects-skills-filter-description {
		@extend .projects-skills-filter-title;
		font-size: $font-size-sub;
		font-weight: 900;
		color: $font-color-sub2-light;
	}

	.projects-filtered-description {
		@extend .projects-skills-filter-description;
		color: $background-color-sub4-light;
	}

	.projects-filtered-description-emphasize-text {
		color: $background-color-sub4-dark;
	}

	.horizontalrule {
		margin-bottom: $menu-contents-gap;
	}

	.projects-title {
		font-size: $font-size-emphasize;
		margin-bottom: $menu-title-gap;
		@include pc {
			font-size: $font-size-main;
		}
	}

	&.dark {
		.skills-filter-title {
			font-size: $font-size-emphasize;
		}

		.projects-skills-filter-title {
			color: $font-color-main-dark;
		}

		.projects-skills-filter-description {
			color: $font-color-sub1-dark;
		}

		.projects-filtered-description {
			color: $background-color-sub5-dark;
		}

		.projects-filtered-description-emphasize-text {
			color: $background-color-sub4-dark;
		}
	}
}
