@import '../../../../../variables.scss';

#contact-form-submit-modal {
	@extend .shared-modal-background;

	.contact-form-submit-modal-content-box {
		@extend .shared-modal-box;
	}

	.contact-form-submit-modal-checkicon-box {
		@extend .shared-modal-icon-box;
	}

	.contact-form-submit-modal-checkicon {
		@extend .shared-modal-icon;
	}

	.contact-form-submit-modal-resulttext {
		font-size: $font-size-emphasize;
		color: $background-color-sub1-dark;
		text-align: center;
		margin: auto;
		margin-top: 3rem;
	}

	.contact-form-submit-modal-confirm-icon-box {
		@extend .shared-modal-confirm-icon-box;
	}

	.contact-form-submit-modal-confirm-icon {
		@extend .shared-modal-confirm-icon;
	}
}
