@import '../../../../variables.scss';
.history-boxes-gap-line {
	width: 0.01px;
	height: $menu-contents-gap;
	background-color: white;
	border: 0.2rem solid white;
	margin: auto;
}

.history-en {
	margin-top: $menu-main-gap;
}

.history-title-en {
	color: $font-color-emphasize-dark;
	font-size: $font-size-emphasize;
	margin-bottom: $menu-title-gap;
}
