@use '../../variables/variables.scss' as *;

#skillsets-box {
	margin-bottom: $menu-main-gap;

	.skillsets-box-content {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		padding: $content-box-padding;
		border: 0.3rem solid white;
		border-radius: 2rem;
	}

	.skillsets-box-title {
		font-size: $font-size-emphasize;
		color: $font-color-emphasize-dark;
		padding-left: 1rem;
		margin-bottom: 1.5rem;
	}
}
