@import '../../../../../variables.scss';

#history-box {
	padding: $content-box-padding;
	border: $content-box-border;
	border-radius: $content-box-border-radius;

	.history-box-period {
		font-size: $font-size-main;
		font-weight: 900;
		color: $font-color-emphasize-dark;
		margin-bottom: calc($submenu-margin/2);
	}

	.history-box-name {
		font-size: $font-size-main;
		font-weight: 500;
		color: $font-color-sub2-dark;
		margin-left: $submenu-margin;
	}

	.history-box-department {
		font-size: $font-size-sub;
		color: $font-color-main-dark;
		font-weight: 400;
		margin-left: $submenu-margin;
		margin-bottom: calc($submenu-margin/2);
	}

	.history-box-duty {
		font-size: $font-size-sub;
		font-weight: 400;
		color: $font-color-sub1-dark;
		margin-left: $submenu-margin;
	}
}
