@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500;700;800;900&display=swap');

.font-ja {
	background-color: rgb(187, 248, 183);
	font-family: 'M PLUS 1p', sans-serif;
	font-weight: 800;
}
