.characteristic-texts-box-en {
	margin-left: 1rem;
	margin-right: 1rem;
}

.characteristic-text-keyword-en {
	font-size: 3rem;
	font-weight: 900;
	margin-bottom: 1.5rem;
}
.characteristic-text-title-en {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 1rem;
}

.characteristic-text-content-en {
	font-size: 2rem;
	font-weight: 400;
}
