@import '../../../../../variables.scss';

.characteristic-texts-box-en {
	margin-left: 1rem;
	margin-right: 1rem;
}

.characteristic-text-keyword-en {
	font-size: $font-size-emphasize;
	font-weight: 900;
	color: $font-color-emphasize-dark;
	margin-bottom: 1.5rem;
}
.characteristic-text-title-en {
	font-size: $font-size-main;
	font-weight: 500;
	margin-bottom: 1rem;
}

.characteristic-text-content-en {
	font-size: $font-size-content;
	font-weight: 400;
	color: $font-color-sub2-dark;
}
