@use '../../../variables/variables.scss' as *;
@use '../../../variables/functions.scss' as *;

#nav-links {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 1rem;
	@include pc {
		gap: 0.75rem;
	}
	@include pc-s {
		display: none;
	}

	.link {
		font-size: 2rem;
		text-wrap: nowrap;
		@include basicTransition;
		@include pc {
			font-size: 1.75rem;
		}

		&:hover {
			color: $font-color-emphasize-light;
		}
		&.active {
			color: $font-color-emphasize-light;
		}
	}

	&.dark {
		.link {
			font-size: 2rem;
			text-wrap: nowrap;

			@include pc {
				font-size: 1.75rem;
			}

			&:hover {
				color: $font-color-emphasize-dark;
			}
			&.active {
				color: $font-color-emphasize-dark;
			}
		}
	}
}
