@use '../../../variables/variables.scss' as *;
@use '../../../variables/functions.scss' as *;

#nav-links {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 1rem;

	.link {
		font-size: 2rem;
		text-wrap: nowrap;
		@include basicTransition;
		@include pc-s {
			font-size: 1.75rem;
		}
		&:hover {
			color: $font-color-emphasize-dark;
		}
		&.active {
			color: $font-color-emphasize-dark;
		}
	}
}
