@use '../../../../variables/variables.scss' as *;

.guestbook-mesasge-password-request-modal {
	@extend .shared-modal-background;
}

.guestbook-mesasge-password-request-modal-content-box {
	@extend .shared-modal-box;
	height: 20rem;
}

.guestbook-mesasge-password-request-modal-password-request-text {
	font-size: $font-size-emphasize;
	color: $background-color-sub1-dark;
	text-align: center;
	margin: auto;
	margin-top: 2rem;
}

.guestbook-mesasge-password-request-modal-password-request-input-box {
	width: 80%;
	text-align: center;
	margin: auto;
	margin-top: 2rem;
}

.guestbook-mesasge-password-request-modal-password-request-input {
	width: 100%;
	height: 4rem;
	font-family: 'Gabarito';
	font-size: $font-size-content;
	padding: 1rem;
	border: 0.3rem solid $background-color-emphasize-dark;
	border-radius: calc($content-box-border-radius/2);
	box-sizing: border-box;
}

.guestbook-mesasge-password-request-modal-icons-box {
	display: flex;
	width: 80%;
	justify-content: space-between;
	margin: auto;
	margin-top: 2rem;
}

.guestbook-mesasge-password-request-modal-icon-confirm {
	width: 47.5%;
	color: $background-color-sub1-dark;
	background-color: $font-color-confirm-dark;
	font-size: $font-size-main;
	text-align: center;
	border: 0.3rem solid $background-color-emphasize-dark;
	border-radius: calc($content-box-border-radius/2);
	padding: 0.5rem;
	box-sizing: border-box;
	cursor: pointer;
}

.guestbook-mesasge-password-request-modal-icon-cancel {
	@extend .guestbook-mesasge-password-request-modal-icon-confirm;
	background-color: $font-color-alert-dark;
}
