@import '../../../variables.scss';

.contact-box-en {
	width: 40rem;
	margin: auto;
}

.contact-box-title-en {
	font-size: $font-size-emphasize;
	color: $font-color-emphasize-dark;
	margin-bottom: 1.5rem;
}
