@import '../../../variables.scss';

.contact-box-ja {
	width: 40rem;
	margin: auto;
}

.contact-box-title-ja {
	font-size: $font-size-emphasize;
	color: $font-color-emphasize-dark;
	margin-bottom: 1.5rem;
}
