.characteristic-texts-box-ja {
	margin-left: 1rem;
	margin-right: 1rem;
}

.characteristic-text-keyword-ja {
	font-size: 3rem;
	font-weight: 900;
	margin-bottom: 1.5rem;
}
.characteristic-text-title-ja {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 1rem;
}

.characteristic-text-content-ja {
	font-size: 2rem;
	font-weight: 400;
}
