@import '../../../../variables.scss';

.processing-modal-background {
	//
	//
	//
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10;
}

.processing-modal-content-box {
	background-color: $font-color-main-dark;
	width: 35rem;
	height: 35rem;
	padding: 15px;
	border: $content-box-border;
	border-color: $background-color-sub1-dark;
	border-radius: $content-box-border-radius;
	//
	//
	//
	height: 25rem;
}

.processing-modal-hourglassicon-box {
	width: 10rem;
	margin: auto;
	margin-top: 3rem;
	//
	//
	//
	margin-top: 4rem;
}

.processing-modal-hourglassicon {
	//
	//
	//
	font-size: 10rem;
	color: $background-color-sub1-dark;
}

.contact-form-submit-modal-resulttext {
	//
	//
	//
	font-size: $font-size-emphasize;
	color: $background-color-sub1-dark;
	text-align: center;
	margin: auto;
	margin-top: 3rem;
}

.processing-modal-text {
	//
	//
	//
	font-size: $font-size-emphasize;
	color: $background-color-sub1-dark;
	text-align: center;
	margin: auto;
	margin-top: 3rem;
}
