@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500;600;700;800;900&display=swap');

.font-ko {
	background-color: rgb(183, 230, 248);
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-weight: 900;
}
