@use '../../../../scss/variables/variables.scss' as *;
@use '../../../../scss/variables/functions.scss' as *;

#darkmode-toggle {
	position: relative;
	margin-left: 0.5rem;
	@include pc-s {
		display: none;
	}
	.darkmode-toggle-icon {
		width: 2rem;
		height: 2rem;
		fill: $darkmode-toggle-icon-color-light;
		stroke: $darkmode-toggle-icon-color-dark;
		opacity: 0;
		z-index: -1;
		transition: opacity 0.3s;
		cursor: pointer;
		@include pc {
			width: 1.75rem;
			height: 1.75rem;
		}
		&.moon {
			fill: $darkmode-toggle-icon-color-dark;
			stroke: #000;
			stroke-width: 0.05rem;
		}
		&.active {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 1;
			z-index: 1;
		}
	}
}
