@use '../../../../../scss/variables/variables.scss' as *;
@use '../../../../../scss/variables/functions.scss' as *;

#language-selector-in-modal {
	text-wrap: nowrap;
	font-size: 1.8rem;

	.language-selector {
		background-color: transparent;
		border: none;
		@include basicTransition;
		cursor: pointer;
		&:hover {
			color: $font-color-emphasize-dark;
		}
	}
}
