@import '../../../../variables.scss';

.language-selector-box-ko {
	text-wrap: nowrap;
	font-size: 2rem;
	margin-left: 1rem;
}

.language-selector-ko {
	text-decoration: none;
	color: $font-color-main-dark;
}

.language-selector-ko:hover,
.language-selector-ko:active {
	color: $font-color-emphasize-dark;
}
