$image-size: 25rem;

#home-profile-image-cropper {
	width: $image-size;
	height: $image-size;
	min-width: $image-size;
	max-height: $image-size;
	overflow: hidden;
	border-radius: 50%;

	.home-profile-image {
		width: 150%;
		height: auto;
		margin-left: -45%;
		margin-top: -5%;
	}
}
