@use '../../../scss/variables/variables.scss' as *;
@use '../../../scss/variables/functions.scss' as *;

$icons-width: 2.5rem;

#home-profile-texts-icons-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 1rem;
	@include tab {
		margin-left: 0;
	}

	.home-profile-texts-box {
		text-align: center;
		text-wrap: nowrap;
		@include tab {
			padding-top: $submenu-margin;
		}
	}

	.home-profile-hi {
		font-size: 2rem;
		font-weight: 400;
		padding-bottom: 2rem;
		color: $font-color-sub1-light;
		@include pc-s {
			font-size: 1.8rem;
			padding-bottom: 1rem;
		}
	}

	.home-profile-name {
		font-size: 4rem;
		font-weight: 900;
		color: $font-color-emphasize-light;
		padding-bottom: 2rem;
		@include pc-s {
			font-size: 3.75rem;
		}

		@include sp {
			font-size: 3rem;
		}
		&.en,
		&.ja {
			padding-bottom: 0;
		}
	}

	.home-profile-furigana {
		font-size: 1rem;
		padding-bottom: 2rem;
		text-align: left;
	}

	.home-profile-title {
		font-size: 3rem;
		font-weight: 500;
		color: $font-color-sub2-light;
		@include pc-s {
			font-size: 2.1rem;
		}
		@include sp {
			font-size: 1.75rem;
		}
		&.en {
			padding-bottom: 2rem;
		}
	}

	.home-profile-aim {
		font-size: 1.5rem;
		font-weight: 400;
		text-align: right;
		padding-bottom: 2rem;
		@include pc-s {
			font-size: 1.25rem;
		}
	}

	.home-iconbox {
		display: flex;
		flex-direction: row-reverse;
	}

	.home-iconbox-icon {
		width: $icons-width;
		height: $icons-width;
		cursor: pointer;
	}

	&.dark {
		.home-profile-hi {
			color: $font-color-sub1-dark;
		}

		.home-profile-name {
			color: $font-color-emphasize-dark;
		}

		.home-profile-title {
			color: $font-color-sub2-dark;
		}

		.home-iconbox-icon {
			color: $font-color-emphasize-dark;
		}
	}
}
