.nav-links {
	display: flex;
	align-items: center;
	list-style-type: none;
}

.nav-link {
	margin-left: 4rem;
	font-size: 2rem;
	text-wrap: nowrap;
}

.nav-link:hover,
.nav-link:active {
	text-decoration: underline;
	text-underline-offset: 0.5rem;
	cursor: pointer;
}
