$image-size-height: 30rem;
$image-size-width: calc($image-size-height * 4 / 3);

@mixin characteristic-box {
	display: flex;
	width: 80rem;
	height: $image-size-height;
	margin-bottom: 1.5rem;
}

#characteristic-box-left {
	@include characteristic-box;
	float: left;

	.characteristic-image-cropper {
		width: $image-size-width;
		min-width: $image-size-width;
		height: $image-size-height;
		max-height: $image-size-height;
		overflow: hidden;
	}

	.characteristic-picture {
		width: 100%;
		height: 100%;
	}
}

#characteristic-box-right {
	@include characteristic-box;
	float: right;
	flex-direction: row-reverse;
	text-align: right;

	.characteristic-image-cropper {
		width: $image-size-width;
		min-width: $image-size-width;
		height: $image-size-height;
		max-height: $image-size-height;
		overflow: hidden;
	}

	.characteristic-picture {
		width: 100%;
		height: 100%;
	}
}
