@import '../../../../variables.scss';

.language-selector-box-ja {
	text-wrap: nowrap;
	font-size: 2rem;
	margin-left: 1rem;
}

.language-selector-ja {
	text-decoration: none;
	color: $font-color-main-dark;
}

.language-selector-ja:hover,
.language-selector-ja:active {
	color: $font-color-emphasize-dark;
}
