$image-size-height: 30rem;
$image-size-width: calc($image-size-height * 4 / 3);

@mixin characteristic-box {
	display: flex;
	width: 80rem;
	height: $image-size-height;
	margin-bottom: 1.5rem;

	.characteristic-image {
		width: $image-size-width;
		height: $image-size-height;
	}
}

#characteristic-box-left {
	@include characteristic-box;
}

#characteristic-box-right {
	@include characteristic-box;
	flex-direction: row-reverse;
	text-align: right;
}
