@use '../../../../scss/variables/variables.scss' as *;
@use '../../../../scss/variables/functions.scss' as *;

$image-size-height: 30rem;

@mixin characteristic-box {
	display: grid;
	grid-template-columns: 50% auto;
	column-gap: 1rem;
	width: 80rem;
	height: $image-size-height;
	padding: 0 1rem;
	margin: 0 auto;
	margin-bottom: 1.5rem;
	@include pc {
		width: 100%;
		height: auto;
	}
	@include tab {
		display: block;
	}

	.characteristic-image {
		aspect-ratio: 4/3;
	}
}

#characteristic-box-left {
	@include characteristic-box;
}

#characteristic-box-right {
	@include characteristic-box;
	text-align: right;
	.characteristic-image {
		order: 2;
	}
}
