$background-color-main-dark: #122235; //main
$background-color-emphasize-dark: #00296f; // emphasize
$background-color-sub1-dark: #112d4e; // sub1
$background-color-sub2-dark: #788cb4; // sub2

$font-color-main-dark: #bed3f8; // main
$font-color-emphasize-dark: #ffffff; // emphasize
$font-color-sub1-dark: #bbc6e5; // sub1
$font-color-sub2-dark: #8699c4; // sub2

$pages-width: 80vw;
