$background-color-dark: #788cb4; // sub2
$background-color-dark: #112d4e; // sub1
$background-color-dark: #001230; // emphasize
$background-color-dark: #122235; //main

$font-color-dark: #bfcbe5; // sub2
$font-color-dark: #cad7f6; // sub1
$font-color-dark: #e6edfa; // main
$font-color-dark: #ffffff; // emphasize

$pages-width: 80vw;
