$background-color-main-dark: #122235; //main
$background-color-emphasize-dark: #00296f; // emphasize
$background-color-sub1-dark: #112d4e; // sub1
$background-color-sub2-dark: #788cb4; // sub2

$font-color-main-dark: #bed3f8; // main
$font-color-emphasize-dark: #ffffff; // emphasize
$font-color-sub1-dark: #dae0ee; // sub1
$font-color-sub2-dark: #b2b7bd; // sub2

$font-size-emphasize: 3rem;
$font-size-main: 2.5rem;
$font-size-content: 2rem;
$font-size-sub: 1.5rem;

$pages-width: 80vw;

$menu-main-gap: 5rem;
$menu-title-gap: 1.5rem;
$menu-contents-gap: 3rem;

$submenu-margin: 2rem;
$submenu-title-gap: 1rem;

$content-box-border: 0.3rem solid white;
$content-box-border-radius: 2rem;
$content-box-padding: 2rem;
