@use '../../../scss/variables/variables.scss' as *;
@use '../../../scss/variables/functions.scss' as *;

#project-keywords-box {
	display: flex;
	flex-wrap: wrap;
	row-gap: 0.5rem;
	column-gap: 1rem;
	border: $content-box-border;
	border-radius: $content-box-border-radius;
	padding: $content-box-padding;
	margin-bottom: $menu-contents-gap;

	@include tab {
		column-gap: 0.5rem;
		padding: calc(#{$content-box-padding/2});
	}

	.project-keyword-button {
		background-color: $background-color-sub2-light;
		color: $font-color-sub1-light;
		font-size: $font-size-content;
		border: $content-box-border;
		border-radius: 1rem;
		padding: 0.25rem;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		@include tab {
			font-size: calc(#{$font-size-content * 0.75});
		}
	}

	.project-keyword-button-clicked {
		@extend .project-keyword-button;
		color: $font-color-sub1-dark;
		background-color: $background-color-sub4-light;
	}

	&.dark {
		border-color: $font-color-emphasize-dark;
		.project-keyword-button {
			background-color: $background-color-sub3-dark;
			color: $font-color-sub1-dark;
			border-color: $font-color-emphasize-dark;
		}
		.project-keyword-button-clicked {
			@extend .project-keyword-button;
			color: $font-color-sub1-dark;
			background-color: $background-color-sub4-dark;
		}
	}
}
