@use '../../variables/variables.scss' as *;

#guestbook-input-form {
	border: 0.3rem solid white;
	border-radius: $content-box-border-radius;
	padding: 2rem;
	margin-bottom: $menu-contents-gap;

	.guestbook-form-name-password-box {
		display: flex;
		justify-content: space-between;
	}

	.guestbook-form-elements-box {
		margin-bottom: calc(#{$submenu-title-gap} * 1.5);
	}

	.guestbook-form-name-box {
		@extend .guestbook-form-elements-box;
		width: 49%;
	}

	.guestbook-form-password-box {
		@extend .guestbook-form-name-box;
	}

	.guestbook-form-elements-title {
		font-size: $font-size-main;
		margin-bottom: calc(#{$submenu-title-gap} / 2);
	}

	.guestbook-form-textinput {
		font-family: 'Gabarito';
		font-size: $font-size-sub;
		width: 100%;
		height: 3rem;
		padding: 1rem;
		box-sizing: border-box;
		border: none;
		border-radius: calc(#{$content-box-border-radius/5});
		outline: none;
	}

	.guestbook-form-textarea {
		@extend .guestbook-form-textinput;
		height: calc(18rem / 3);
		padding-top: 0.5rem;
		resize: none;
	}

	.guestbook-form-submit-button-box {
		width: 40%;
		margin: auto;
	}

	.guestbook-form-submit-button {
		width: 100%;
		height: $font-size-main;
		font-size: $font-size-sub;
		color: $background-color-emphasize-dark;
		background-color: $font-color-main-dark;
		border: none;
		border-radius: calc(#{$content-box-border-radius/5});
		cursor: pointer;
	}
}
