// Start of lightmode
$background-color-main-light: #f1f1f6;
$background-color-emphasize-light: #ffffff;
$background-color-sub1-light: #f4f5f8;
$background-color-sub2-light: #dae0ee;
$background-color-sub3-light: #b2b7bd;

$font-color-main-light: #131e4b;
$font-color-emphasize-light: #0c429e;
$font-color-sub1-light: #112d4e;
$font-color-sub2-light: #56688b;
$font-color-sub3-light: #7e357a;

$darkmode-toggle-icon-color-light: #ff8100;
// End of lightmode
//
//
// Start of darkmode
$background-color-main-dark: #122235;
$background-color-emphasize-dark: #0842a7;
$background-color-sub1-dark: #002c78;
$background-color-sub2-dark: #00308e;
$background-color-sub3-dark: #315293;
$background-color-sub4-dark: #7e357a;

$font-color-main-dark: #bed3f8;
$font-color-emphasize-dark: #ffffff;
$font-color-sub1-dark: #f4f5f8;
$font-color-sub2-dark: #dae0ee;
$font-color-sub3-dark: #b2b7bd;
$font-color-alert-dark: #e4401b;
$font-color-confirm-dark: #7fe41b;

$darkmode-toggle-icon-color-dark: rgb(255, 230, 0);
// End of darkmode
//
//
// Start of font size
$font-size-emphasize: 3rem;
$font-size-main: 2.5rem;
$font-size-content: 2rem;
$font-size-sub: 1.5rem;
// End of font size
//
//
// Start of layout
$content-width: 1280px;
$header-height: 4rem;

$menu-main-gap: 3rem;
$menu-contents-gap: 2rem;
$menu-title-gap: 1.5rem;

$submenu-margin: 2rem;
$submenu2-margin: 3rem;
$submenu-title-gap: 1rem;
// End of layout
//
//
// Start of box style
$content-box-border: 0.3rem solid white;
$content-box-border-radius: 2rem;
$content-box-padding: 2rem;
// End of box style
//
//
// Start of modal
.shared-modal-background {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10;
}

.shared-modal-box {
	background-color: $font-color-main-dark;
	width: 35rem;
	height: 35rem;
	padding: 15px;
	border: $content-box-border;
	border-color: $background-color-sub1-dark;
	border-radius: $content-box-border-radius;
}

.shared-modal-icon-box {
	width: 10rem;
	margin: auto;
	margin-top: 3rem;
}

.shared-modal-icon {
	font-size: 10rem;
	color: $background-color-sub1-dark;
}

.shared-modal-text {
	font-size: $font-size-emphasize;
	color: $background-color-sub1-dark;
	text-align: center;
	margin: auto;
	margin-top: 3rem;
}

.shared-modal-confirm-icon-box {
	width: 50%;
	text-align: center;
	margin: auto;
	margin-top: 5rem;
}

.shared-modal-confirm-icon {
	width: 100%;
	background-color: $font-color-emphasize-dark;
	font-family: inherit;
	font-size: 2.5rem;
	text-align: center;
	border: $content-box-border;
	border-color: $background-color-sub1-dark;
	border-radius: calc(#{$content-box-border-radius/2});
	cursor: pointer;
}
// End of modal
