@use '../../../../scss/variables/variables.scss' as *;

#nav-modal {
	position: fixed;
	width: 100%;
	height: 100%;
	top: $header-height;
	left: -100%;
	background-color: rgba(34, 34, 34, 0.95);
	opacity: 0;
	padding: 1rem;
	transition: opacity 0.3s, left 0s 0.3s;
	z-index: -1;
	&.active {
		left: 0;
		opacity: 1;
		transition: opacity 0.3s;
		z-index: 0;
	}

	.language-selector-darkmode-toggle-in-modal-box {
		position: fixed;
		display: flex;
		left: 50%;
		bottom: 1.5rem;
		gap: 1rem;
		transform: translateX(-50%);
	}
}
