@use '../../../../scss/variables/variables.scss' as *;
@use '../../../../scss/variables/functions.scss' as *;

#nav-modal {
	@include pc-s {
		display: flex;
	}

	display: none;
	position: fixed;
	width: 100%;
	height: calc(100dvh - $header-height);
	flex-direction: column;
	justify-content: space-between;
	top: $header-height;
	left: -100%;
	color: $font-color-main-dark;
	background-color: rgba(34, 34, 34, 0.95);
	opacity: 0;
	padding: 1rem;
	transition: opacity 0.3s, left 0s 0.3s;
	z-index: -1;
	&.active {
		left: 0;
		opacity: 1;
		transition: opacity 0.3s;
		z-index: 10;
	}

	.language-selector-darkmode-toggle-in-modal-box {
		display: flex;
		gap: 1rem;
		align-self: center;
	}
}
