@import '../../../../variables.scss';
$icons-width: 2.5rem;

.home-profile-texts-icons-box-ko {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 1rem;
}

.home-profile-texts-box-ko {
	text-align: center;
	text-wrap: nowrap;
}

.home-profile-hi-ko {
	color: $font-color-sub1-dark;
	font-size: 2rem;
	font-weight: 400;
	padding-bottom: 2rem;
}

.home-profile-name-ko {
	color: $font-color-emphasize-dark;
	font-size: 4rem;
	font-weight: 900;
	padding-bottom: 2rem;
}

.home-profile-title-ko {
	color: $font-color-sub2-dark;
	font-size: 3rem;
	font-weight: 500;
}

.home-profile-aim-ko {
	font-size: 1.5rem;
	font-weight: 400;
	text-align: right;
	padding-bottom: 2rem;
}

.home-iconbox-ko {
	display: flex;
	flex-direction: row-reverse;
}

.home-iconbox-icon-ko {
	width: $icons-width;
	height: $icons-width;
	color: $font-color-emphasize-dark;
	cursor: pointer;
}
