@use '../../variables/variables.scss' as *;
@use '../../variables/functions.scss' as *;

#header {
	max-width: $content-width;
	height: $header-height;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	margin: 0 auto;
	margin-bottom: $menu-main-gap;

	@include pc-s {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		background-color: inherit;
	}
	h1.logo {
		flex-grow: 1;
		.page-title {
			font-size: 3rem;
			text-wrap: nowrap;
			@include pc {
				font-size: 2.5rem;
			}
			@include pc-s {
				font-size: 3rem;
			}
		}
	}
}
