@use '../../variables/variables.scss' as *;
@use '../../variables/functions.scss' as *;

#header {
	display: flex;
	width: 100%;
	max-width: $content-width;
	height: $header-height;
	align-items: center;
	padding: 0 1rem;
	margin: 0 auto;
	margin-bottom: $menu-main-gap;
	@include pc-s {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		background-color: $background-color-main-light;
		margin-bottom: 0;
		z-index: 10;
	}
	h1.logo {
		flex-grow: 1;
		.page-title {
			font-size: 3rem;
			text-wrap: nowrap;
			color: $font-color-main-light;
			@include pc-s {
				font-size: 2.5rem;
			}
		}
	}
	&.dark {
		@include pc-s {
			background-color: $background-color-main-dark;
		}
		h1.logo {
			.page-title {
				color: $font-color-main-dark;
			}
		}
	}
}
